node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.dry-run-output
.vinxi
todos.json
logs/
src/routes/demo/

resume.html
coverage/
test-results/
playwright-report/